<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Sua Chave de Acesso</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        color: #333;
      }
      pre {
        display: inline-block;
        padding: 10px;
        background-color: #f4f4f4;
        border: 1px solid #ccc;
        font-size: 16px;
        text-align: center;
        margin: 5px auto;
        border-radius: 5px;
      }
    </style>
  </head>
  <body>
    <h2>Olá, {{name}}!</h2>
    <p>Para acessar o nosso serviço, use essa chave de acesso:</p>
    <pre>{{apiKey}}</pre>
    <p>Guarde essa chave com segurança, pois ela é única e necessária para autenticar suas requisições.</p>
    <p>Atenciosamente,<br />Luizalabs</p>
  </body>
</html>
